// Definición de los botones
// --------------------------------------------------
$pad-bt-tb: 22px; //top y bottom
$pad-bt-lr: 28px; //left y right

$pad-btchico-tb: 12px; //top y bottom de los botones chicos
$pad-btchico-lr: 15px; //left y right de los botones chicos
$alto-btchico: 35px; 

$brd-ayuda: 3px; //borde de la ayuda


// Botones
.btn {
	padding: $pad-bt-tb $pad-bt-lr;
	margin: 0px 5px 14px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 1.9em;
	line-height: 1.1em;
	font-family: $font-medium;
	text-align: center;	
	.ayuda & {
		padding: ($pad-bt-tb - $brd-ayuda) ($pad-bt-lr - $brd-ayuda);
		border: solid $brd-ayuda $ayuda;
	}
	// boton en bloque para otro importe o que ocupe todo, btingresa y bt otro importe
	&.block {
		display: block;
	}
	// botones fijos de 100px para la home
	&.fijo-100 {
		width: 100px;
	}
	// botones fijos de 70px para la calculadora
	&.fijo-70 {
		width: 70px;
	}
	// botones fijos de 50px para id+alfa
	&.fijo-50 {
		width: 50px;
	}
	//tiempo que lleva la transacción, lo sacamos
	.timer {
		position: absolute;
		font-size: 10pt;
		right: 10px;
		top: 0px;
	}
	&.menosimportante {
		opacity: 0.8;
	}
	&.deshabilitado {
		opacity: 0.1;
		cursor: not-allowed;
	}
	p & {font-size: 1em;}
	i.prisma {
		@extend .mg-r-5;
	}
}



// Mismo botón mas chico
.btn-chico {
	@extend .btn;
	height: $alto-btchico;
	padding: ($pad-btchico-tb) ($pad-btchico-lr) ($pad-btchico-tb - $brd-ayuda * 2);
	font-size: 1.5em;
	.ayuda & {
		padding: ($pad-btchico-tb - $brd-ayuda) ($pad-btchico-lr - $brd-ayuda ) ($pad-btchico-tb - $brd-ayuda * 2) ; //8px 15px 7px;
	}
	p & {font-size: 0.8em;}
}

// boton borrar adentro del input 
.btn.borrar {
	position: absolute;
	right: 2px;
	top: 8px;
	.ayuda & {
		top: 5px;
		right: 0px;
	}
}

// Los botones de ayuda van en blanco
.ayuda a.btn {color: #FFF;}


// Ocultar botones para javascript 
.btn.continuar, .btn.borrar { display: none; }


// Wave/Ripple effect
// --------------------------------------------------
.btn {
	overflow: hidden;
	
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5px;
		height: 5px;
		background: rgba(0, 0, 0, .2);
		opacity: 0;
		border-radius: 100%;
		transform: scale(1, 1) translate(-50%);
		transform-origin: 50% 50%;
	}
	&:focus:not(:active)::before {
		animation: ripple 1s ease-out !important;
	}
	// fix dropdowns
	&.dropdown {
		overflow: visible !important;
		&:before {
			display: none;
		}
	}
}
// wave/ripple animation
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(60, 60);
  }
}