// inicio.php
	#inicio_extraccion { right: 510px; }
	#inicio_opnoextraccion {left: 550px; }
	#consultas_selectordecuenta { top: 0px; right: -15px;
		.ayuda & {top: -10px; right: -10px;}
	}
	#consultas {
		top: 60px; 
		.ayuda {top: 80px; }
	}

	#loop.panel { max-width: none; width: 975px; height: 520px; padding: 0; }

	.ayuda .oculto {display: none !important;}

	#inicio_cuentas { left: 550px; }


