
// Definición de elementos del formulario
// --------------------------------------------------



// Inputs
input {
	height: 60px;
	border: solid 2px $gris;
	width: calc(100% - 6px);
	padding-left: 8px;
	.ayuda & {
		background-color: $ayuda_oscuro;
		border: solid 2px $gris_claro;
	}
	&:focus { outline: none;}
}

// Input del pin
.containerdeinput::before, input {
	color: $gris;
	background-color: $blanco;
}

.containerdeinput-conBorrar {
	width: calc(100% - 18px); // los 20px son por los 16px de padding (8 y 8) y los 4 de border (4 y 4)
	position: relative;
	border: solid 2px #777;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@extend .mg-b-20;

	& > div {
    width: calc(100% - 125px);
    display: flex;

		& > .prefijo {
			font-family: "BanelcoBold", Arial, Helvetica, sans-serif;
			font-size: 1.65em;
			margin: 0;
			white-space: nowrap;
	    padding: 8px 0;
		}
		input {
			border:0;
			padding-left: 0;
			height: auto;
			min-height: 44px;

		}
	}
	.borrar.btn-chico {
	    position: relative;
      margin: 0;
      top: -2px;
      right: -2px;

      &.scale-out {
        -webkit-transform: scale(0) translateY(3px) !important;
                transform: scale(0) translateY(3px) !important;
      }

      .borrarTodo {
      	position: absolute;
  	    width: 0;
  	    height: 100%;
  	    top: 0;
  	    left: 0;
  	    background-color: rgba(255,255,255,0.5);
  	    -webkit-transition: width 1s ease-in; /* Safari */
        transition: width 1s ease-in;

  	    &.active {
  	    	width: 100%;
  	    }
      }
	}

	&.deshabilitado { opacity: 0.3;}
	.signopesos {
		display: flex;
		&::before {
			content: "\e95f";
			display: inline-block;
			width: 45px;
			font-size: 2em;
			font-family: 'prisma' !important;
		}
	}
	.signodolar {
		display: flex;
		&::before {
			content: "\e960";
			display: inline-block;
			width: 45px;
			font-size: 2em;
			font-family: 'prisma' !important;
		}
	}
	&::before, input {
		color: #777;

		.ayuda & {
			color: white;
		}
	}
}





.containerdeinput {
	width: calc(100% - 8px);
	position: relative;
	@extend .mg-t-10;
	@extend .mg-b-10;

	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}

	.content-modal & {
		margin-top: 0px !important;
	}

	// iconos
	.iconoseninput {
		border: solid 2px $gris;
		position: absolute;
		width: 62px;
		height: 62px;
		text-align: center;
		font-size: $font-size-inputs-icon;
		color: $gris;
		line-height: 44pt;
		z-index: 1;
	}
	// icono de la llave
	.key {
		@extend .iconoseninput;
	}
	&.pin {
		width: 289px;
		@extend .centrado;
		@extend .alinear-centro;
		input {
			margin-left: 64px;
			width: calc(100% - 75px);
			font-size: $font-size-input-pass;
			// &[type="password"] {
			// 	text-align: center;
			// }
		}
	}
	&.deshabilitado { opacity: 0.3;}

	&.signopesos,
	&.signodolar {
		input {
		    box-sizing: border-box;
		    height: 68px;
		    padding: 5px 135px 5px 60px;
		}
	}

	&.boton {
	    display: inline-block;
	    width: auto;
	    text-decoration: none;
	    input {
		    display: inline;
		    width: auto;
		    padding: 0px 15px;
		    height: 74px;
		    font-size: 2em;
		}
		.btn {
		    margin: -9px 0 5px -6px;
    		border-radius: 0 5px 5px 0;

    		.ayuda & { margin-top: -11px; }
		}
		&.warning {
			padding: 0;
			input {
				border-color: $rojo;
				color: $rojo;

				.ayuda & {
					border-color: $rojo_ayuda;
					color: $rojo_ayuda;
				}
			}
		}
	}
}







// Loadings

@-webkit-keyframes esperaLoop {
	0% {
		opacity:0.5;
		-webkit-transform:  translate(-150%,0px)  ;
	}
	50% {
		opacity:1;
		-webkit-transform:  translate(0,0px)  ;
	}
	100% {
		opacity:0.5;
		-webkit-transform:  translate(200%,0px)  ;
	}
}
@keyframes esperaLoop {
	0% {
		opacity:0.5;
		transform:  translate(-150%,0px)  ;
	}
	50% {
		opacity:1;
		transform:  translate(0,0px)  ;
	}
	100% {
		opacity:0.5;
		transform:  translate(200%,0px)  ;
	}
}

.progress {
	position: relative;
	height: 4px;
	width: 100%;
	background-color: lighten($gris_claro,30%);
	border-radius: 2px;
	margin: 1em 0;
	overflow: hidden;
	& .indeterminate {
		background-color: #26a69a;
		height: 5px;
		width: 50%;
		background-color: $azul;
		animation: esperaLoop linear 1.5s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
		-webkit-animation: esperaLoop linear 1.5s;
		-webkit-animation-iteration-count: infinite;
		-webkit-transform-origin: 50% 50%;
	}
}

// Dropdown
.btn.dropdown {
	height: 74px !important;
	padding: 0;//0 70px 0 28px;
	white-space: nowrap;
	text-align: left;
	box-sizing: border-box;
	position: relative;
	z-index: $z-index-dropdown;
	&.active {
		position: relative;
		z-index: $z-index-dropdown-over;
		&::after {
			display: none;
		}
	}
	&::after {
		@extend .prisma;
		@extend .prisma.desplegable:before;
		position: absolute;
		right: 22px;
		top: 22px;
		color: $blanco;
	}
	.prisma.cuenta{ position: initial; color: inherit;}
	> span {
		line-height: 72px;
		> span {
			padding: 0 70px 0 28px;
			width: calc(100% - 80px);
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.contenedor {
		height: 0;
		overflow: hidden;
		//position: absolute;
		//left: 0px;
		//top: 0px;
		color: $gris;
		min-width: 100%;
		position: relative;
		z-index: 100;
		top: -78px;
		//margin: 0 -70px 0 -28px;
		border: solid 1px transparent;
		&.active {
			background-color: $blanco;
			height: auto;
			@include sombra(0px, 0px, 20px, 2px, #000, 0.8);
			border-color: $gris_oscuro;
			display: table;
		}
	}
	div[data-dd] {
		border: solid 1px $gris_claro;
		padding: 15px 22px; //15px 70px 15px 22px;
		&.active,
		&:active {
			background-color: lighten($gris_claro,40%);
			//font-family: $font-bold;
			color: darken($gris, 30%);
			text-shadow: 0 0 1px #000;
		}
	}

	.ayuda & {
		color: #fff !important;
		//padding: 0 70px 0 26px;
		&:after {
			top: 18px;
		}
		> span {
			line-height: 68px;
		}
		.contenedor {
			color: $blanco;
			//margin: 0 -73px 0 -28px;
			background: transparent;
			top: -70px;
			&.active {
				background: #444;
				box-shadow: 0 0 0 12px rgba(0,0,0,.8);
			}
		}
		div[data-dd] {
			color: $blanco;
			&.active,
			&:active {
				background-color: #000;
				text-shadow: 0 0 2px #fff;
			}
		}
	}

	&.btn-chico {
		height: 52px !important;
		//padding: 0 70px 0 26px;
		&:after { top: 16px; }
		> span {
			line-height: 52px;
		}
		.contenedor { top: -52px; }

		.ayuda & {
			&:after { top: 10px; }
			.contenedor { top: -48px; }
			> span { line-height: 46px; }
		}
	}
}


$checkbox_binario: 230px;
$checkbox_selector: $checkbox_binario / 2.2 ;

// Radiobuttons
#checkboxes {
	border: solid 2px grey;
	padding: 2px;
	border-radius: 7px;
	position: relative;
	height: 78px;
	width: $checkbox_binario;
	white-space: nowrap;
	input[type=checkbox] {
		display: none;
		& + label{
			left: 1px;
			transition: left 0.3s ease-in-out, background 0.3s ease-in-out !important;
			min-width: 72px;
			margin: 0 -1px;
			@extend .btn.gris;
			// -------- Si queríamos el boton deshabilitado
			// @extend .btn.blanco;
			// &.btn.blanco {
			// 	border: solid 2px lighten($gris_claro,30%);
			// 	box-shadow: none;
			// }
			.si {display: none};
			.no {display: initial};
			.ayudas & {
				left: 2px;
				min-width: 98px;
			}
		}
		&:checked + label {
			@extend .btn.azul;
			left: 45%;
			min-width: 72px;
			transition: left 0.3s ease-in-out, background 0.3s ease-in-out !important;
			border: initial;
			.si {display: initial};
			.no {display: none;}
			// z-index: $z-index-radiobutton;
			.ayuda & {
				left: 33%;
				min-width: 98px;
				border: 3px solid $azul_claro;
			}
		}
	}
	.btn{
		display: inline-block;
	}
}


.idpos, .clavealfa {

	.inline {
		@extend .light;
		@extend .h4;
		@extend .gris_claro;
		display: inline-block;
		margin-bottom: -16px;
	}
	.carga {
		height: 60px;
		border: solid 2px $azul;
		display: inline-block;
		@extend .light;
		@extend .h4;
		@extend .gris_claro;
		@extend .alinear-centro;
		padding: 0px 10px;
		letter-spacing: 0.2em;
		margin-bottom: 0px;
	}
}


label.radio {
	display: block;

	input {
		width: 30px;
		height: 30px;
		margin: 0;
		position: relative;
		top: 3px;
		margin-right: 8px;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: #fff;
			border-radius: 50%;
			border: 2px solid;
			top: -2px;
			position: relative;
		}

		&:checked {
			&:before {
				border-color: $azul;
			}
			&:after {
				background: $azul;
				width: 18px;
				height: 18px;
				content: '';
				display: block;
				position: absolute;
				top: 6px;
				left: 8px;
				border-radius: 50%;
			}
		}
	}

	.ayuda & {
		input {
			top: 0;

			&:before {
				border: 3px solid #999;
				background: #000;
			}
			&:checked {
				&:before {
					border-color: $azul_ayuda;
				}
				&:after {
					background: $azul_ayuda;
					top: 7px;
					left: 9px;
				}
			}
		}
	}
}

label.check {
	display: block;

	input {
		width: 30px;
		height: 30px;
		margin: 0;
		position: relative;
		top: 3px;
		margin-right: 8px;

		&:before {
			content: '';
			display: block;
			width: 102%;
			height: 102%;
			background: #fff;
			border-radius: 4px;
			border: 2px solid;
			top: -2px;
			position: relative;
		}

		&:checked {
			&:before {
				border-color: $azul;
				background: $azul;
			}
			&:after {
				font-family: 'prisma' !important;
    		content: "\e901";
				display: block;
				position: absolute;
				top: 2px;
				left: 4px;
				color: #fff;
				font-size: 28px;
			}
		}
	}

	.ayuda & {
		input {
			top: 0;

			&:before {
				border: 3px solid #999;
				background: #000;
			}
			&:checked {
				&:before {
					border-color: $azul_ayuda;
				}
				&:after {
					background: $azul_ayuda;
					top: 1px;
					left: 3px;
					width: 31px;
					height: 31px;
					line-height: 32px;
					text-align: center;
				}
			}
		}
	}
}


ul.pasos {
    padding: 0;
    list-style: none;
	font-size: 27px;
    margin-bottom: 1em;

    > li {
	    //margin-right: 6px;
	    float: left;

		> a {
		    text-decoration: none;
		    font-family: $font-medium;
		    padding: .3em .2em .3em 1.2em;
		    //border-radius: 6px;
		    background: lighten($azul, 20);
		    color: #fff;
		    position: relative;

		    &:before {
				content: '';
				display: block;
				position: absolute;
				top: -4px;
				left: 0px;
				height: 0;
				z-index: 9;
				border-left: 24px solid #fff;
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
			}
		    &:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 100%;
				height: 0;
				z-index: 10;
				border-left: 20px solid lighten($azul, 20);
				border-top: 24px solid transparent;
				border-bottom: 24px solid transparent;
		    }
		}
		&:first-child > a{
			border-radius: 4px 0 0 4px;
			padding: .3em .2em .3em .6em;
			&:before { display: none; }
		}
		&:last-child > a{
			border-radius: 0 4px 4px 0;
			padding: .3em .6em .3em 1.2em;
			&:after { display: none; }
		}
		&.active a {
			background: $azul;
			color: #fff;
			&:after { border-left-color: $azul; }
		}
		&.disabled a {
		    background: #eee;
			color: $gris_masclaro;
			&:after { border-left-color: #eee; }
		}
	}
	&:after {
	    content: '';
	    clear: both;
	    display: block;
	}

	.ayuda & {
		> li {
			> a {
				background: #000;
				color: $azul_ayuda;
				border: 2px solid $azul_ayuda;
				border-left-color: transparent;
				border-right-color: transparent;
				&:before {
					left: -4px;
				}
				&:after {
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					border: none;
					left: calc(100% - 18px);
					height: 35px;
					width: 35px;
					top: 5px;
					border-top: 3px solid $azul_ayuda;
					border-right: 3px solid $azul_ayuda;
					box-shadow: 3px -3px 0px 2px #111;
					border-radius: 2px;
				}
			}
			li.active a::after {
			    border-top: 26px solid transparent;
	        border-bottom: 26px solid transparent;
	        border-left: 26px solid #6aa5d9;
	        left: calc(100% - -1px);
	        top: -2px;
			}
			&:first-child > a {
				border-left-color: $azul_ayuda;
			}
			&:last-child > a {
				border-right-color: $azul_ayuda;
			}
			&.active a {
				background: $azul_ayuda;
				color: #000;
				border-color: transparent;
			}
			&.disabled a {
				background: #000;
				color: #818181;
				border-color: transparent;
				&:after {
					border-color: transparent;
				}
			}
			+ li > a:before { border-left-color: #000; }
			&.active + li > a:before { border-left-color: $azul_ayuda; }
			&.disabled + li > a:before { border-left-color: #000; }
			&.active a::after {
		    border-left-color: #000;
			}
		}
		script {
			& + li > a:before { border-left-color: #000; }
		}
	}
}


.btn-inputs	input {
	display: none;
}
.btn-group.btn-inputs {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	input {
		display: none;
	}

	label.btn {
		margin-left: 0;
		margin-right: 2px;
		border-radius: 0;
		float: left;
		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
	}

	.ayuda & {
		label.btn + label.btn {
			margin-left: -4px;
		}
	}
}
