// idpos1, idpos2, idpos3
.idpos_f .carga.inline { width: 134px; }

// idposalfa1, idposalfa2, idposalfa3
.idposalfa_f .carga 
	{
		width: 100px;
		line-height: 1.488;

		.ayuda & {
			line-height: 1.1em;
		}
	}

// idposexperto1, idposexperto2, idposexperto3
.idposexperto_f .carga  
	{
		width: 100px;
		line-height: 1.488;

		.ayuda & {
			line-height: 1.1em;
		}
	}

// cambioclave1, cambioclave2, cambioclave3, cambioclave_error1, cambioclave_error2
.cambiodeclave_f.notita.animated { width: 200px; }

.cambiodeclave_f.containerdeinput.pin { width: 220px; }
.cambiodeclave_f.containerdeinput i { line-height: 2; }

// clavealfa_generacion_1, clavealfa_generacion_2, clavealfa_generacion_3, clavealfa_generacion_4, clavealfa_confirmar_1, clavealfa_confirmar_2, clavealfa_confirmar_3, clavealfa_confirmar_4, clavealfa_listo, clavealfa_error
.clavealfa_f.carga 
	{
		width: 100px;
		line-height: 1.488;

		.ayuda & {
			line-height: 1.1em;
		}
	}

.clavealfa_f.font_55 		
	{ 
		width: 120px;
		display: block;
		margin: 0 auto;
	}

// clavealfa_error
.clavealfa_f.notita.animated  
	{ 
		width: 150px; 
		height: 100%; 
		top:0px; 
		text-align: left; 

		.ayuda & {
			width: 230px;
			top: 24px;
		}
	}	

// consultacbu
#confirmacion_f.content-modal  { width: 100%; }

// consultasaldo_sincuentamodal
.consultasaldo_sincuentamodal_f#notice .fix { width: 100%; }
.consultasaldo_sincuentamodal_f.notita { width: 180px; } 

// consultamovimientos
#consultas.consultamovimientos_f 
	{
		top:40px;

		.ayuda & {
			top: 20px;
		}
	}
// error_generico
#error_generico .error_generico { height: 250px; }

// inicio_link
.inicio_link.fix.dropdown { width: 300px; }
.inicio_link_f.oculto { display:none; }

// extraccion y extraccion sin tarjeta
input#extraccion.extraccion_f 
	{
		.signopesos & {
			padding-left: 45px;
		} 
	}
.extraccion_sintarjeta_clave_modal_f { margin:0px; padding: 0px; }
.extraccion_sintarjeta_clave_modal_f .btn.borrar { right: -10px; }
.extraccion_sintarjeta_clave_modal_f input#extraccion.extraccion_f 
	{ 
		width:100%; 
		padding-left: 10px; 
		margin: 0px; 
	}

.extraccion_f.borrar.btn-chico {
	right: -3px;
}

// clave coordenadas
.clavecoordenadas_f.borrar.btn-chico {
	right: -3px;
}
.clavecoordenadas_modal_f.left {
	width: 370px;

	&+& {
		width: 420px;
	}
}
// transferencias 
.transferencias_f.borrar.btn-chico {
	right: 1px;
}
.transferencias_f.nota{ font-style: italic; } 

// login
.login_f.containerdeinput i { line-height: 2; }
.ayuda .login_f.containerdeinput i { line-height: 1.65; } 
.login_f.containerdeinput i 
	{
		line-height: 2;

		.ayuda & {
			line-height: 1;
		}
	}
div.login_f.flexVerticalAlign.justify-center { margin-left:10px; display: inline-flex; }
div.login_f.col_left { width: 200px; } 

// consultasaldo_link_intermedia_f
.consultasaldo_link_intermedia_f .btn.dropdown { width:400px; }
 
 // claves
.claves_f.left {
	width: 370px;

	& + & {
		width: 420px; 
	}  
	.containerdeinput.claves_f + & {
		width: 420px; 
		margin: 0 auto;
		float: none;
	}
	p.area {
		position: absolute;
		top: 18px;
		left: 15px;
		font-family: "BanelcoBold", Arial, Helvetica, sans-serif;
		font-size: 1.65em;
	}
	input#numerotelefono {
		padding-left: 85px;
		width: calc(100% - 205px);
		padding-right: 140px;
	}
}
.containerdeinput.claves_f {
	width: 420px; 
	margin: 0 auto; 

	input#doc {
		padding-left: 65px;
		width: calc(100% - 204px);
		padding-right: 140px;

		&.cuil {
			padding-left: 8px;
			width: calc(100% - 148px);
		}

		.ayuda & {
			padding-left: 80px; 
			width: calc(100% - 230px);
		    padding-right: 149px;
		}
	}
	.docu {
		position: absolute;
		top: 18px;
		left: 15px;
		font-family: "BanelcoBold", Arial, Helvetica, sans-serif;
		font-size: 1.65em;
		opacity: 0.7;

		.ayuda & {
			top: 16px;
		}
	}
}
#borrar.claves_f.btn-chico {
	right: -3px;
}
.movil #borrar.claves_f.btn-chico {
	right: -21px;
}