// idpos1, idpos2, idpos3
.idpos_f .carga.inline { width: 134px; }

// idposalfa1, idposalfa2, idposalfa3
.idposalfa_f .carga 
	{
		width: 100px;
		line-height: 1.488;
	}

// idposexperto1, idposexperto2, idposexperto3
.idposexperto_f .carga  
	{
		width: 100px;
		line-height: 1.488;
	}

// cambioclave1, cambioclave2, cambioclave3, cambioclave_error1, cambioclave_error2
.cambiodeclave_f.notita.animated { width: 200px; }

.cambiodeclave_f.containerdeinput.pin { width: 220px; }
.cambiodeclave_f.containerdeinput i { line-height: 2; }

// clavealfa_generacion_1, clavealfa_generacion_2, clavealfa_generacion_3, clavealfa_generacion_4, clavealfa_confirmar_1, clavealfa_confirmar_2, clavealfa_confirmar_3, clavealfa_confirmar_4, clavealfa_listo, clavealfa_error
.clavealfa_f.carga 
	{
		width: 100px;
		line-height: 1.488;
	}

.clavealfa_f.font_55 		
	{ 
		width: 120px;
		display: block;
		margin: 0 auto;
	}

// clavealfa_error
.clavealfa_f.notita.animated { width: 150px; height: 100%; top:0px; text-align: left; }

// consultacbu
#confirmacion_f.content-modal  { width: 100%; }

// consultasaldo_sincuentamodal
.consultasaldo_sincuentamodal_f#notice .fix { width: 100%; }
.consultasaldo_sincuentamodal_f.notita { width: 180px; } 

// error_generico
#error_generico .error_generico { height: 250px; }

// inicio_link
.inicio_link.fix.dropdown { width: 300px; }
.inicio_link_f.oculto { display:none; }

// extraccion y extraccion sin tarjeta
input#extraccion.extraccion_f { padding-left: 45px; }

.extraccion_f.borrar.btn-chico {
	right: -3px;
}

// clave coordenadas
.clavecoordenadas_f.borrar.btn-chico {
	right: -3px;
}

// transferencias 
.transferencias_f.borrar.btn-chico {
	right: 1px;
}

// login
.login_f.containerdeinput i { line-height: 2; }