
// Sacar espacios a body
body { margin: 0px; overflow: hidden; }

//head
.botonayudavisual {
	@extend .btn;
	@extend .btn-border;

	background: rgba(119, 119, 119, 0.1);
	border: 4px #aaa solid !important;
	box-shadow: 0 4px 0 #888;
	padding: 14px 20px !important;
	color: #888;

	.ayuda & {color: #888 !important}
}


// Ubicación de los floats
.clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.right {float: right;}
.left {float: left;}
.leftZero {left:0px}
.oculto {display: none;}
.block {display:inline-block;}
.block-block { display: block !important; }
.inline {display: inline;}
.relative {position: relative;}
.absolute {position: absolute !important; }
.relative-important {position: relative !important}
.absolute {position: absolute !important}
.centrado {position: relative; margin-left: auto; margin-right: auto;}
.centradovertical {
	position: absolute; top: 0px; width: 100%; height: 100%;
	display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.text-align-center {
	text-align: center;
}
.deshabilitado {
	opacity: .3;
	pointer-events: none;
}

//Visibilidad
.v-hidden {
	visibility: hidden;
}
.v-visible {
	visibility: visible;
}

// Truncado

.truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.no-truncate {
	text-overflow: unset !important;
}

//Helpers
.animation-reset {
	animation-name: reseteado !important;
	-webkit-animation-name: reseteado !important;
}
//Columnas Flex
.flex {
	display: flex !important;

	&.dosCol {
		& > div {
			left: 0px !important;
			right: 0px !important;
			width: auto !important;
			position: relative;
		}
		& > .col-left:first-of-type {
			margin-right:18px !important;
			margin: 0 auto;

			.panel {
				position: relative;
			}
		}
		& > .col-right:last-of-type {
			margin-left:18px !important;
			margin: 0 auto;

			.panel {
				position: relative;
			}
		}
	}
}
.flex-d-collum {
	flex-direction: column;
}
.justify-around {
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.justify-between {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.justify-center {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.justify-start {
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.justify-end {
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.flex-grow-1 {
	flex-grow: 1;
}
.align-center {
	display: flex !important;
	align-items: center;
}
.align-start {
	display: flex !important;
	align-items: flex-start  !important;
}
.align-end {
	display: flex !important;
	align-items: flex-end  !important;
}
.flexVerticalAlign {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.hide-on-help {
	.ayuda & {
		display: none !important;
	}
}
// Helpers
.padding-0 {
	padding:0px !important;
}
.heightauto {
	height: auto !important;
}
.align-block {
	margin: 0 auto;
  display: block;
  float: none;
}
.space-nowrap {
	white-space: nowrap !important;
}
.space-normal {
	white-space: normal !important;
}
// Grid
//----- Extends
%clearfix:after {
    display:block;
    clear:both;
    content:'';
}

//----- Grid System
$grid-spacing:3%;

.row {
    @extend %clearfix;

    & + & {
        margin-top:$grid-spacing;
    }
}

[class^="col-"] {
    float:left;
    margin-right:$grid-spacing;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    &:last-child {
        margin-right:0%;
    }
}

//----- Columns
.col-1   { width:(100% / 12) - ($grid-spacing * 11 / 12) !important; }
.col-2   { width:(100% / 6) - ($grid-spacing * 10 / 12) !important; }
.col-3   { width:(100% / 4) - ($grid-spacing * 9 / 12) !important; }
.col-4   { width: 33.33% !important; }
.col-5   { width:(100% / 2.4) - ($grid-spacing * 7 / 12) !important; }
.col-6   { width:(100% / 2) - ($grid-spacing * 6 / 12) !important;}
.col-7   { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12) !important; }
.col-8   { width:(100% / 1.5) - ($grid-spacing * 4 / 12) !important; }
.col-9   { width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12) !important; }
.col-10  { width:(100% / 1.2) - ($grid-spacing * 2 / 12) !important; }
.col-11  { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12) !important; }
.col-12  { width:100%; }

.col-btn-6 {
	width: calc(50% - 66px)
}
.col-btn-4 {
	width: calc(33.33% - 56px)
}
// Blocker
.relative {
	position: relative;
}
.blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.dropdown-blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
// Tamaño de la pantalla
.draw {
	width: $ancho_draw;
	height: $alto_draw;
	position: relative;
	margin:auto;
	//top: calc(50vh - 384px);
}


.col_left, .col_right {
	width: 300px;
	@extend .inline;
	@extend .mg-t-15;
	vertical-align: top;
}
.col_right {@extend .mg-l-20}
.col_50 {
	width: 50%;
	float: left;
}

.col_left.mg-0, .col_right.mg-0 {
	width: 300px;
	@extend .mg-0;
	vertical-align: top;
}

// z-index
@for $i from 1 through 10 {
	.z_#{$i} {
	    z-index: $i !important;
	};
}

// generales
.capitalizados {
	display: inline-block !important;

	&::first-letter {
		text-transform: uppercase;
	}
}
.text-align-left {
	text-align: left !important;
}
.text-align-right {
	text-align: right !important;
}

// Fondos
.brandbar, .footer, .panel {
	.bnlc & { background-color: #fff; }
	.ayuda & { background-color: $ayuda_oscuro; }
}

// Brandbar y logos
.brandbar {
	width: calc(100% - 40px);
	height: $alto_brandbar;
	position: relative;
	z-index: $z-index-brandbar;
	padding: 0 20px;
	display: flex;
  justify-content: space-between;
  align-items: center;
	svg {
		height: 100%;

		&#bnlc {
			transform: scale(0.7);
		}
		&#banco {
			transform: scale(0.75);
		};
		.ayuda & {
			path, polygon {fill: $ayuda;}
		}
		&.ocultar {
			display: none;
		}
	}
	& > * {
		position: static !important;
	}
}

// Tamaño y ubicación del footer (adentro van los botones)
.footer { width: $ancho_footer; height: $alto_footer; position: absolute; bottom: 0px; padding: $padding_footer}

// Contenido del medio
.content { width: $ancho_draw; height: $alto_content; position: absolute; top: $posicion_content;}

// Modal
.fondomodal {
	position: fixed;
	top: 0px;
	z-index: $z-index-fondomodal;
	background: rgba(0, 0, 0, 0.6);
	width: $ancho_draw;
	height: $alto_draw;
	.ayuda & {
		background: rgba(0, 0, 0, 0.9);
	}
}
.modal_error {
	width: 630px;
}
.modal_error-sm {
	width: 600px;;
}

// Modal Content
.content-modal {
	z-index: $z-index-contenidomodal;
	position: absolute;
	min-width: 60%;
	@extend  .bounceIn;
	@extend .animated;
	.close {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 50px;
		a {text-decoration: none;}
	}
	&.bounceIn {
		animation-delay: 0.3s;
	}
	.ayuda & {border: 2px solid #666;}
}

// Modal timeout
.timeout {
	.fondomodal {z-index: $z-index-fondotimeout; }
	.content-modal {z-index: $z-index-fondotimeout;
	@extend  .bounceIn;
	@extend .animated;
	animation-delay: 0.5s;
	}
}

// Paneles informativos
.infopanel {
	background-color: #f7f7f7;
	padding: 20px;

	.ayuda & {
		background-color: #111111;
	}

	p {
		font-size: 20px;

		.ayuda & {
			color: #fff;
			@extend .font-24;
		}
	}
}

// Panel amarillo
.fondo_amarillo_claro  {
	.ayuda & {
		p {
			color: #515151;
		}
	}
}

//Icono del fondo
.iconback {
	position: absolute;
	right: 0px;
	top: -60px;
	font-size: 314px;
	opacity: 0.03;
}

// Panel antes 25px - 30px
$padding-panel: 22px 27px;
.panel, .panel-sinfondo {
	padding: $padding-panel;
	position: absolute;
	max-width: ($ancho_draw - 144px) ;
	.ayuda & {
		max-width: initial;
	}
	&.centrado {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
}

.notita {
	position: absolute;
	right: 30px;
	bottom: 30px;
	text-align: right;
}

/* Ticket -----------------------*/
$color-ticket: #fff;
$color-ticket-ayuda: invert($color-ticket);

.ticket {
	-webkit-filter: drop-shadow(rgba(0, 0, 0, 0.7) 0px 1px 5px);
	width: 350px;
	margin: 20px auto;
	background: $color-ticket;
	position: relative;
	padding: 20px 20px 25px;
	&::after{
		content: "";
		width: calc(100% + 20px);
		position: absolute;
		left: -10px;
		top: -10px;
		height: 10px;
		background: #888;
	}
	&::before {
		background:
		linear-gradient(45deg, transparent 20px, $color-ticket 0),
		linear-gradient( -45deg, transparent 20px, $color-ticket 0);
		background-size: 20px 20px;
		content: "";
		height: 20px;
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 100%;
	}
	.ayuda & {
		background: $color-ticket-ayuda;
		-webkit-filter: drop-shadow(rgba(255, 255, 255, 0.7) 0px 1px 15px);
		border: solid 3px white;
		border-top-style: dashed;
		border-bottom-style: dashed;
		width: 350px;
		font-size: 80%;
		// ::before{
		// 	display: none;
		// }

		&::after, &::before {
			display: none;
		}
	}
	p {
		i {
			letter-spacing: 5px;
		}
	}
}

.tabs {
	.botones {
		padding: 0px 10px;
		position: relative;
		z-index: $z-index-default;
		font-size: .95em;
		a {
			@extend p;
			@extend .azul;
			@extend .medium;
			display: inline-block;
			box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
			padding: 15px 20px 10px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin-right: 5px;
			margin-bottom: 0px;
			text-decoration: none;
			background-color: $azul;
			color: $blanco;
			&.selected {
				@extend .azul;
				background-color: $blanco;

			}
		}
		.ayuda & {
			top: 1px;
			a {
				font-size: 24pt;
				background-color: $negro;
				border: solid 2px $azul_claro;
				border-bottom: $blanco;
				color: $azul_claro;
				&.selected {
					border-color: $blanco;
					border-bottom: solid 2px $negro;
					color: $blanco;
					top: 1px;
				}
			}
		}
	}
	.contenido {
		@extend .panel;

		.altofijo {height: 60px; }
		.ayuda & {
			border: solid 2px $blanco;
			background-color: $negro;
		}
	}
}

.connotita {
	position: relative;
	width: 100%;
	.notita {bottom: 0px;}
}

.numerocbu, .aliascbu {
	float: left;
	width: 100%;
	.bloque {
		margin-right: 20px;
		display: inline-block;
	}
	.numero {
		@extend .bold;
		@extend .big_20;
		height: 30px;
		display: flex;
		align-center: center;
		border-bottom: 2px solid $gris_masclaro;
		letter-spacing: 0.16em;

		.ayuda & {
			color: $blanco;
		}
		& > div {
			width: 25px;
			height: 25px;
			background-color: $gris_oscuro;
			border-radius: 50%;
			margin: 0 3px;
    	opacity: 0.4;

			.ayuda & {
				width: 25px;
				height: 25px;
    	opacity: 1;
			}
		}
	}
	.label {
		@extend .light;
		@extend .mayuscula;
		@extend .small_8;
		@extend .alinear-centro;
		color: $gris_masclaro;
		.ayuda & {color: $blanco;}
	}

	&.versucursal {

		.bloque {
			p {
				color: $gris_masclaro;
			}
			&.sucursal {
				line-height: 1;

				.numero {
					line-height: 1;

					.ayuda & {
						line-height: 0.8;
					}
				}
				& > * {
					color: $gris_oscuro;
				}
			}
			&.sucursal .numero {
				border-bottom: 2px solid $gris_oscuro;
			}
		}
	}
}
.notitacbu {
	position: absolute;
    top: 80px;
    right: 30px;
    text-align: right;
}

.tabla_select {
	position: relative;
   width: 100%;

	.tabla {
		width: calc(100% - 100px);
		height: 240px;
		overflow-y: auto;
		overflow-x: hidden;

		&.tresfilas {
			height: 180px;
		overflow-y: hidden;
		}

		table {
			width: 100%;
			display: block;
			@extend p;
			border: none;
			border-spacing: 0;
			width: 100%;
			margin: 0;

			tbody {
				width: 100%;
				display: block;

				tr {
					width: 100%;
					height: 60px;
					display: flex;

					&.oculto {
						display: none !important;
					}

					.ayuda &.active {
						& > td {
							color: #6aa5d9;
						}
					}

					td, th {
						height: 60px;
						display: flex;
						align-items: center;
						padding-top: 0px;
						padding-bottom: 0px;
						width: 100%;

						& > * {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							padding: 0 10px;
						}
						& > label {
						 	padding:0 5px;

						 	.ayuda & {
								padding: 0 4px;

								input {
									top: 3px;
								}
						 	}
						}
					}
				}
				tr:nth-child(odd) {
					background-color: #ddd;

					.ayuda & {
						background-color: #fff;
						color: #000;

						p {
							color: #000 !important;
						}
					}
				}
				tr:nth-child(even) {
					background-color: #f5f5f5;

					.ayuda & {
						background-color: #000;
					}
				}
				tr.no-stripped {
					background-color: transparent;
				}
				tr.active {
					background: $azul;
					color: #fff !important;

					p {
						color: #fff !important;

						.ayuda & {
							color: #6aa5d9 !important;
						}
					}
				}
			}
		}

		.fade-shadow {
			position: absolute;
			z-index: 1;
			background: linear-gradient(transparent, #fff);
			width: calc(100% - 100px);
			height: 60px;
			bottom: 0px;
			left: 0px;

			.ayuda & {
				background: linear-gradient(transparent, #000);
			}
		}
		.tableScrollBlocker {
			position: absolute;
			width: 100%;
			z-index: 99;
			top: 0px;
			height: 100%;
			display: block;
			width: 6px;
			right: 100px;
		}

		.btn-chico.arriba {position: absolute; right: 0; top: 0;}
		.btn-chico.abajo {position: absolute; right: 0; bottom: -10px;}

		.ayuda & {

			tr:nth-child(odd) {
				background-color: transparent;
			}
			tr.active {
				background: $azul_ayuda;
				color: #000;
			}
		}
	}
	.tabla-x3 {
		height: 180px;
	}
	.tabla-x4 {
		height: 240px;
	}
	&.tabla-2 {
		.tabla {
			height: 270px;
		}
		.tabla table tbody tr td > * {
			.ayuda & {
				overflow: visible;
			}
		}
	}
}
td {
	@for $i from 1 through 36 {
		$var: percentage($i / 36);

		&.collumn-#{$i} {
			width: $var !important;
		}
		& {
			width: $var !important;
		}
	}
}
.t-header {
	background-color: transparent;
	position: relative;
	height: 45px;

	td {
		display: inline-block;
		text-align: left;
		padding: 5px 10px;
		cursor: auto;
		letter-spacing: -0.5px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		margin: initial;
		font-weight: 500;
		font-style: normal;
		color: #777;
		font-size: 1.815em;
		font-family: "BanelcoBold", Arial, Helvetica, sans-serif;
		padding: 0px;

		> span {
			font-weight: bold;
			font-size: 0.66em;
			padding: 0 10px;
		}
	}
}
.tabla_mas {
	width: calc(100% - 100px);
}

.marcador {
	width: 5px;
	height: 230px;
	background: lighten($gris_claro, 20%);
	position: absolute;
	top: 30px;
	right: 110px;
	.posicion {
		position: relative;
		background: $gris;
		height: 50px;
	}
}

.idpos, .btidpositiva {
	white-space: nowrap;
	@extend .alinear-centro;
	@extend .mg-t-20;
}

.btidpositiva { @extend .mg-b-0; }

.clavealfa, .btclavealfa {
	white-space: nowrap;
	@extend .alinear-centro;
}

.btclavealfa { @extend .mg-b-0; }

.clavealfa .secure {
	-webkit-text-security: disc;
}
/* Barras de últimos movimientos */
::-webkit-scrollbar {
	width: 5px;
	padding-left: 25px;
}

::-webkit-scrollbar-track {
	//-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
	background-color: lighten($gris,40%);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
	background-color: $azul;
}

.sg-v-scroll-cell {background-color: white;}

.sg-v-scroll-container { margin-left: 10px;}


.bx-wrapper {
	margin: 0;
	.bx-viewport {
		border: none !important;
		left: 0 !important;
	}
}
.bx-pager.bx-default-pager {
	position: absolute !important;
	bottom: 5px !important;
}
.slider-navs {
	position: absolute;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	top: 0px;
	height: 100%;

	> i {
		height: 70px;
		width: 70px;
		display: block;
		text-align: center;
		line-height: 40px;
		position: relative;
		margin: -20px 10px;
		background: rgba(255, 255, 255, 0.8);
		font-size: 20px;
		border-radius: 50%;
		opacity: .6;
		display: flex;
		align-items: center;
		justify-content: center;

		&#slider-next {
			float: right;
		}
		a {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
		}
	}
}

.owl-carousel {
	position: relative;

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		height: 70px;
		width: 70px;
		display: block;
		text-align: center;
		line-height: 40px;
		background: rgba(255, 255, 255, 0.8);
		font-size: 20px;
		border-radius: 50%;
		opacity: .6;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.owl-prev {
		left: 10px;
	}
	.owl-next {
		right: 10px;
	}
	.owl-dots {
		text-align: center;
		position: absolute;
		bottom: 5px;
		width: 100%;

		.owl-dot {
			background: #666;
			text-indent: -9999px;
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			outline: 0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;

			&.active {
				background-color: #fff;
			}
		}
	}
}

// Ordenar esto es del offline
body#offline {
	&.ayuda { font-size: .85em; }
	.brandbar { background: transparent; box-shadow: none; }
	.draw { background: #1f1f1f url(img/bg-sad.png); }
	.content { background: url(img/bg-offline.png) no-repeat center; }
	.panel {
		margin: 70px 150px 100px 150px;
		padding: 50px;
		background: #3d3d3d;
		color: #ccc;
		border-radius: 0;
		border: 1px solid #666;
	}
	#funciones div { width: 140px; font-size: 16px; }
	#funciones i { font-size: 3em; line-height: 60px; }
}


.fondo_rojo {
	color: #fff;
}

// Ayuda
.ayuda {
	.azul { color: $azul_ayuda }
	.verde { color: $verde_ayuda }
	.rojo { color: $rojo_ayuda }
	.naranja { color: $naranja_ayuda; }
	.amarillo { color: $amarillo_ayuda; }

	.ayuda-oculto {
		display: none;
	}
	.btn {
		line-height: 1em !important;
	}
}

// Tooltips
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bg-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background: rgba(0, 0, 0, 0.6);
}

// Colores billetes
.diezpe {color: #86310c !important;}
.veintepe {color: #9e1734 !important;}
.cincuentape {color: #333961 !important;}
.cienpe {color: #48267d !important;}
.doscientospe {color: #2b35a5 !important;}
.quinientospe {color: #4a7906 !important;}
.milpe {color: #de6003 !important;}

.modal-ingreso-datos {
	@extend .clearfix;

	& > div {
		float: left;
		width: 450px;

		& + div {
			margin-left: 10px;
			width: 420px;

		}
	}
	.cuotas-rapidas {
		@extend .justify-between;
		@extend.flex-wrap;

		a {
			width: calc(50% - 40px);
			@extend .mg-0;
			@extend .mg-t-15;
			@extend .btn-chico;
			@extend .gris;
		}
	}
}
