// inicio.html
	#inicio_extraccion { position: relative; margin: 0 auto; right: -20px; }
	#inicio_extraccion { position: static; }
	#inicio_opnoextraccion { position: relative; margin: 0 auto; left: -20px; overflow:hidden;

		&.leftZero {
			left: 0px;
		}
		a.oculto {
			display: none;
		}
		.adde {
			a {
				height: 0px;
				padding: 0px;
				margin: 0px;
				-webkit-transform: translateY(-400%);
				transform: translateY(-400%);
				border: 0px;

				& > div {
					-webkit-transform: translateY(-200%);
					transform: translateY(-200%);
					transition: 0.4s 1.5s transform;
				}

				&.open {
					transition:
					    0.4s 0.4s height,
					    0.4s 0.4s padding,
					    0.4s 0.4s margin,
					    0.3s color,
					    0.6s visibility,
					    0.1s transform;
					// opacity: 1;
					height: 30px;
					padding: 22px 28px;
					margin: 0px 5px 14px;
					-webkit-transform: translateY(0%);
					transform: translateY(0%);

					& > div {
						-webkit-transform: translateY(0%);
						transform: translateY(0%);
					}

					.ayuda & {
						border: 3px solid;
					}
				}
				&:nth-of-type(1) {
					transition-delay: 0s;

					& > div {
						transition-delay: 0.3s;
					}
				}
				&:nth-of-type(2) {
					transition-delay: 0s;

					& > div {
						transition-delay: 0.4s;
					}
				}
				&:nth-of-type(3) {
					transition-delay: 0s;

					& > div {
						transition-delay: 0.5s;
					}
				}
				&:nth-of-type(4) {
					transition-delay: 0s;

					& > div {
						transition-delay: 0.6s;
					}
				}
			}
		}
	}
	#consultas_selectordecuenta { top: 0px; right: -15px;
		.ayuda & {top: -10px; right: -10px;}
	}
	.ultimosmovimientos {
		table {
			tr {
				 td:last-of-type {
					justify-content: flex-end;
				}
			}
		}
	}
	#ut_nueva_transferencia {
		top: 22px;
		right: 15px;
		display: block;
		position: absolute;
	}
	#ultimas_transferencias {
		width: 100%;

		h5.titulo {
			margin-bottom: 20px;
		}


		.saldosDisponibles {
			position: relative;
			margin: 0px;
			width: 92%;

			& > div:last-of-type {
				margin-top: 0px;
			}

			.tabla_select {
				.tabla {
					table {
						tr:nth-child(odd) {
							background-color: #ddd;

							.ayuda & {
								background-color: #fff;
								color: #000;
							}
						}
						tr:nth-child(even) {
							background-color: #f5f5f5;

							.ayuda & {
								background-color: #000;
							}
						}
					}
				}
			}

			.t-header {
				width: calc(100% - 105px);
			}
		}
	}

	#loop.panel { max-width: none; width: 975px; height: 520px; padding: 0; }

	.ayuda .oculto {display: none;}

	#inicio_cuentas { left: 550px; }
	#inicio_cuentas { position:static; margin:auto; }
	#masOp.heightZero { border: 0px; }

	#extraccion_cuotas {
		width: 340px;
		vertical-align: top;
		.containerdeinput { width: 312px; }
		.btn.fijo-100 {	width: 122px;}

		.ayuda & {

			.btn.fijo-100 {	width: 118px;}
		}
	}

	#transferencias {
		max-width: none;
	    width: 920px;
	    max-height: 470px;

	    .ayuda & {
	    	max-height: none;
	    }
	}
	#transferencias_monto {
		&.signopesos:before { left: 20px !important; }
		&.signodolar:before { left: 10px !important; }
		&.signopesos input { padding-left: 40px; }
		&.signodolar input { padding-left: 55px; }
		.borrar { margin-right: 10px; }
	}

	#operaciones_sintarjeta {
		width: 700px;
	}
	#extraccion_sintarjeta {
		width: 780px;
	}

	#clavecoordenadas_ej_nroserie {
		background: #eee url(../img/tarjeta_coordenadas.png) no-repeat left top;
		background-size: cover;
		width: 300px;
		height: 200px;
		float: left;
		margin: 10px 20px 0 0;
	}
	#clavecoordenadas_ej_nroserie + .containerdeinput.boton {
		float: left;
	}

// extraccion
#extraccionInput {
	width:405px;
	margin-left: 5px;
}

// cierre de cuentas
#cierre_de_cuentas {
	.dropdownContainer {
		display: block;
		width: 100%;

		&.oculto {
			display: none;
		}

		.dropdown {
			margin-left: auto !important;
			margin-right: auto !important;
			display: block;
		}
	}
}
#siguiente.oculto {
	display:none;
}

// claves
.claves {
	.btn-principal {
		height: auto;
		width: 140px;

		i {
			font-size: 3em;
			margin-right: 0px !important;
			top:0;
			display: block;
		}
		span {
			white-space: normal;
		}
	}
	.claves_otras_claves {
		width: 550px;

		.ayuda & {
			margin-left: 50px;
		}

		&.owl-carousel {
			width: 640px;
		}

		.owl-nav {
			& > * {
				height: 100%;
				background-color:transparent;
				top: 10px;

				&.disabled {
					opacity: 0.3;
				}

				i {
					font-size: 1.5em;
					/* display: block; */
					width: 55px;
					height: 55px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background-color: #777;
					color: white;

					.ayuda & {
						font-size: 2em;
					}
				}
			}
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}
		.claves_otras_claves_slide {
			margin: 0 auto;
			display: flex;
	    flex-flow: wrap;
	    justify-content: center;

		  .otras_claves_option {
		  	height: 60px !important;
	      height: auto;
	      width: 180px;
	      margin: 0 9px 18px 9px;
	      display: flex;
	      align-items: center;
	      white-space: normal;

	      & > span {
	      	display: flex;
	      	align-items: center;
	      	justify-content: center;

	      	& > span {
	      		text-align: left;
	      		margin-left: 10px;
	      		font-size: 0.85em;
	      		line-height: 18pt;
	      	}
	      	& > i {
	      		font-size: 1.5em;
	      	}
	      }
		  }
		}
	}
	.btn {
	    .ayuda & {
	    	height: auto !important;
	    	line-height: 1em;

	    	i {
	    		display: none;
	    	}

	    	span span {
				line-height: 1em;
		    }
	    }
	}
	.ayuda & {
		display: flex;
	    justify-content: center;
	}
}
.ticket > p > i {
	margin-right:5px;
}
