// inicio.html
	#inicio_extraccion { position: relative; margin: 0 auto; right: -20px; }
	#inicio_extraccion { position: static; }
	#inicio_opnoextraccion { position: relative; margin: 0 auto; left: -20px; overflow:hidden;

		&.leftZero {
			left: 0px;
		} 
		a.oculto {
			display: none;
		}
		.adde {  
				a {
					height: 0px;
					padding: 0px;
					margin: 0px;
				}
		}
	}
	#consultas_selectordecuenta { top: 0px; right: -15px;
		.ayuda & {top: -10px; right: -10px;}
	}
	#consultas {
		top: 60px; 
		.ayuda {top: 80px; }
	}

	#loop.panel { max-width: none; width: 975px; height: 520px; padding: 0; }

	.ayuda .oculto {display: none;}

	#inicio_cuentas { left: 550px; }
	#inicio_cuentas { position:static; margin:auto; }
	
	#extraccion_cuotas {
		width: 340px;
		vertical-align: top;
		.containerdeinput { width: 312px; }
		.btn.fijo-100 {	width: 122px;}

		.ayuda & {

			.btn.fijo-100 {	width: 118px;}
		}
	}

	#transferencias {
		max-width: none;
	    width: 920px;
	    left: 25px;
	    max-height: 470px;
	    margin-top: 27px;
	}
	#transferencias_monto {
		&.signopesos:before { left: 20px !important; }
		&.signodolar:before { left: 10px !important; }
		&.signopesos input { padding-left: 40px; }
		&.signodolar input { padding-left: 55px; }
		.borrar { margin-right: 10px; }
	}

	#operaciones_sintarjeta {
		width: 700px;
		left: 135px;
	}
	#extraccion_sintarjeta {
		width: 780px;
		left: 95px;
	}

	#clavecoordenadas_ej_nroserie {
		background: #eee url(img/falta_imagen.png) no-repeat left top;
		background-size: contain;
		width: 300px;
		height: 200px;
		float: left;
		margin: 10px 20px 0 0;
	}

// Consultas
.saldosDisponibles{ 
	.tfila {
		display: flex;

		& > div {
			width: 38%;
			display: flex;
			flex-direction: row;
			align-items: center;    

			&:first-of-type {
				text-align: right;

				p {
					width: 100%;
					padding-right: 20px;
				}
			} 

			& + div {
				width: 62%;

				p {
					margin-right: 10px;
				}
			}
		}
	}
	& > div:last-of-type {
		margin-top: 15px;
	}			
} 