// inicio.html
	#inicio_extraccion { position: relative; margin: 0 auto; right: -20px; }
	#inicio_extraccion { position: static; }
	#inicio_opnoextraccion { position: relative; margin: 0 auto; left: -20px; }
	#consultas_selectordecuenta { top: 0px; right: -15px;
		.ayuda & {top: -10px; right: -10px;}
	}
	#consultas {
		top: 60px; 
		.ayuda {top: 80px; }
	}

	#loop.panel { max-width: none; width: 975px; height: 520px; padding: 0; }

	.ayuda .oculto {display: none;}

	#inicio_cuentas { left: 550px; }
	#inicio_cuentas { position:static; }

	#extraccion_cuotas {
		width: 340px;
		vertical-align: top;
		.containerdeinput { width: 312px; }
		.btn.fijo-100 {	width: 122px;}

		.ayuda & {

			.btn.fijo-100 {	width: 118px;}
		}
	}

	#transferencias {
		max-width: none;
	    width: 920px;
	    left: 25px;
	    max-height: 470px;
	    margin-top: 27px;
	}
	#transferencias_monto {
		&.signopesos:before { left: 20px !important; }
		&.signodolar:before { left: 10px !important; }
		&.signopesos, &.signodolar { 
			input {
				padding-left: 55px;
			}
		}
		.borrar { margin-right: 10px; }
	}